<?xml version="1.0" encoding="UTF-8"?>
<mbpbc1:bridge-config
	xmlns:mbpbc1="http://model.skytv.co.nz/bookablepromo-bridgeconfig/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://model.skytv.co.nz/bookablepromo-bridgeconfig/v1 bookablepromo-bridgeconfig.xsd ">
	
	<mbpbc1:endpoint checkHeartbeat="true"
		heartbeatTimeout="60" host="localhost" id="PROBEL1" port="4446"
		restartOnFailedHeartbeat="true" type="PROBEL" />
		
	<!-- <mbpbc1:endpoint checkHeartbeat="true"
		heartbeatTimeout="120" host="localhost" id="PROBEL2" port="4445"
		restartOnFailedHeartbeat="false" type="PROBEL" />-->
				
				
	<!-- <mbpbc1:endpoint checkHeartbeat="true"
		heartbeatTimeout="120" host="localhost" id="HARRIS1" port="4444"
		restartOnFailedHeartbeat="false" type="HARRIS" />-->
		
	<mbpbc1:endpoint checkHeartbeat="true"
		heartbeatTimeout="120" host="localhost" id="NDS1" port="4447"
		restartOnFailedHeartbeat="false" type="NDS" />
		
	<!-- <mbpbc1:endpoint checkHeartbeat="true"
		heartbeatTimeout="120" host="localhost" id="NDS2" port="4448"
		restartOnFailedHeartbeat="false" type="NDS" />-->
</mbpbc1:bridge-config>
